<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bho.catchtrippingbackend.board.dao.BoardDao">

    <resultMap id="BoardResultMap" type="Board">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <association property="user" javaType="User">
            <id property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
            <result property="userEmail" column="user_email"/>
            <result property="userPassword" column="user_password"/>
            <result property="profileImage" column="profile_image"/>
            <result property="createdAt" column="user_created_at"/>
        </association>
    </resultMap>

    <!-- Save Board by ID -->
    <insert id="save" parameterType="Board">
        INSERT INTO board (user_id, content)
        VALUES (#{user.userId}, #{content})
    </insert>

    <!-- Select Board by ID -->
    <select id="findBoardById" parameterType="Long" resultMap="BoardResultMap">
        SELECT
        b.id, b.content, b.created_at, b.updated_at,
        u.user_id, u.user_name, u.profile_image, u.created_at AS user_created_at
        FROM board b
        JOIN user u ON b.user_id = u.user_id
        WHERE b.id = #{boardId}
    </select>

    <update id="update" parameterType="Board">
        UPDATE board
        SET content = #{content},
        updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM board WHERE id = #{id}
    </delete>

    <select id="findBoardsWithPaging" parameterType="map" resultMap="BoardResultMap">
        SELECT
            b.id, b.content, b.created_at, b.updated_at, b.like_count,
            u.user_id, u.user_name, u.profile_image, u.created_at AS user_created_at
        FROM board b
        JOIN user u ON b.user_id = u.user_id
        ORDER BY b.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <update id="updateLike" parameterType="Board">
        UPDATE board
        SET like_count = #{likeCount}
        WHERE id = #{id}
    </update>
</mapper>