<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bho.catchtrippingbackend.board.dao.MyBoardDao">

    <resultMap id="BoardResultMap" type="Board">
        <id property="id" column="board_id"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="likeCount" column="like_count"/>
        <result property="isLikedByLoginUser" column="is_liked"/>

        <association property="user" javaType="User">
            <id property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
            <result property="profileImage" column="profile_image"/>
            <result property="createdAt" column="user_created_at"/>
        </association>

        <collection property="imageUrls" ofType="String">
            <result column="image_key"/>
        </collection>
    </resultMap>

    <select id="findMyBoardsWithPaging" parameterType="map" resultMap="BoardResultMap">
        SELECT
        b.id AS board_id,
        b.content,
        b.created_at,
        b.updated_at,
        b.like_count,
        u.user_id,
        u.user_name,
        u.profile_image,
        u.created_at AS user_created_at,
        bi.image_key,
        CASE WHEN bl.id IS NOT NULL THEN true ELSE false END as is_liked
        FROM board b
        JOIN user u ON b.user_id = u.user_id
        LEFT JOIN board_image bi ON b.id = bi.board_id
        LEFT JOIN board_like bl ON b.id = bl.board_id AND bl.user_id = #{userId}
        WHERE b.user_id = #{userId}
        ORDER BY b.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>
</mapper>